# This is a template to create the .secrets file.
# copy this file to a file named _secrets.py, and then add your secrets to that one.
# _secrets.py is in .gitignore to help you
# !!!! newer ever commit or push _secrets.py !!!!!
WIFI_SSID = "..."
WIFI_PASS = "..."
